

<div class="container mt-4">
  <h2></h2>
  
  <form method="post">
    
    
    <div class="mb-3">
      <label for="id_medicine" class="form-label">Product</label>
      
    </div>

    <div class="mb-3">
      <label for="id_quantity" class="form-label">Quantity</label>
      
    </div>

    <div class="mb-3">
      <label for="id_location" class="form-label">Location</label>
      
    </div>

    <div class="mb-3">
      <label for="id_date_received" class="form-label">Receive Date</label>
      
    </div>

    <div class="form-check mb-4">
      <label class="form-check-label" for="id_is_recalled">
         Mark as Recalled (damaged or withdrawn)
      </label>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="#" class="btn btn-secondary">Cancel</a>
  </form>
</div>

