
<p></p>    

<form method="POST" action="#">
    
    <button type="submit">Logout</button>
</form>

<!-- <a href = "#">Logout</a> -->


<a href = "#">Login</a>


<form action="#" method="get" style="display:inline;">
    <button type="submit">Search User</button>
</form>

<form action="#" method="get" style="display:inline;">
    <button type="submit">Update Account</button>
</form>

<form action="#" method="get" style="display:inline;">
    <button type="submit">Update Password</button>
</form>


<hr>
<h1>!PLACEHOLDER SUBJECT TO CHANGE!</h1>
<h1>My To-Do List</h1>
<a href="#">Add Task</a>

<form method = "GET">
    <input type = "text" name = "search-area" value = "">
    <input type = "submit" value = "Search">
</form>

<table>
    <tr>
        <th>Items</th>
        <th></th>
        <th></th>
    </tr>
    
    <tr>
        <td></td>
        <td><a href="#">View</a></td>
        <td><a href="#">Edit</a></td>
        <td><a href="#">Delete</a></td>
    </tr>
    
    <h3>No items in list</h3>
    
</table>
